<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.drexel.StatCollector"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="StatViewActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="logCPU" android:value="true" />
        <meta-data android:name="logDalvik" android:value="true" />
        <meta-data android:name="logMem" android:value="true" />
        <meta-data android:name="logNetwork" android:value="true" />
        <meta-data android:name="ipAddress" android:value="192.168.100.17" />
        <meta-data android:name="port" android:value="4984" />
        <meta-data android:name="dbName" android:value="examiner_data" />
        <service android:name=".StatCollectorService" />
    </application>
</manifest>